.card {
    display: flex;
    padding: 16px;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 60px;
    gap: 65px;
}

.img {
    border-radius: 16px;
    height: 460px;
    max-width: 370px;
    object-fit: cover;
}

.name {
    font-weight: 700;
    font-size: 48px;
    color: #313234;
}
.properties {
    gap: 30px;
    display: flex;
}
.list {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.status,
.species,
.gender,
.location {
    position: relative;
    padding-left: 40px;
    font-size: 24px;
}

.status::before,
.species::before,
.gender::before,
.location::before {
    position: absolute;
    left: 0;
    top: 0;
}

.status::before {
    content: url(../../assets/status.svg);
}
.species::before {
    content: url(../../assets/species.svg);
}
.gender::before {
    content: url(../../assets/gender.svg);
}
.location::before {
    content: url(../../assets/planet.svg);
}

.readMore {
    align-self: flex-end;
}
