.rowList {
    align-self: center;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}
